# Core functionality - changes here should be rare!
/src/app.py                   @Oluyemicloud
/src/backend/database.py      @Oluyemicloud
/src/backend/routers/auth.py  @Oluyemicloud

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Oluyemicloud
